#appName {
    font-family: 'Volkhov', serif;
    text-align: left;
    font-size: 15px;
}

div.card-content {
    padding: 10px !important;
}

#info {
    font-family: 'Volkhov', serif;
    text-align: left;
    font-size: 12px;
}

div.card-reveal {
    padding: 10px !important;
}