.pic {
    margin: 15px 35px 15px 35px;
    max-height: 250px;
    border-radius: 10px;
    position: relative;
    left: 20px;
}

.user {
    padding-left: 30px !important;
}

h3 {
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 20px;
}

p {
    font-family: 'Volkhov', serif;
}

a {
    font-family: 'Volkhov', serif;
    color: black;
}

