#list {
    font-family: 'Volkhov', serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#list li {
    text-indent: 4vw;
    font-family: 'Volkhov', serif;
    font-style: italic;
    font-size: small;
    margin: 10px;
}