.footer {
    background-color: black;
    padding: 20px 0px 20px 0px;
}

#footerTxt {
    text-align: center;
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 20px;
    color: gray;
}